@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap");

.App {
  font-family: "Lato", sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: large;
}

html {
  background-color: #eff6ff;
}

ul {
  list-style: none;
}
ul li {
  display: inline;
  margin: 0.5rem;
}

ul li button {
  color: white;
  padding: 5px;
  border: 2px solid black;
  background-color: #60a5fa;
  border-radius: 15%;
  font-size: 1rem;
}

ul li button:hover {
  box-shadow: 3px 2px 5px #34d399;
}

hr {
  background-color: #34d399;
  border: 1px solid #34d399;
}

#box {
  font-family: "Style Script", cursive;
  font-size: 48pt;
  font-weight: lighter;
}

.listItem {
  padding: 2px;
  margin: 6px;
  text-align: left;
  display: block;
  list-style-type: square;
}

.musicList1 {
  margin: auto;
  width: fit-content;
  text-align: center;
}
